/* #### App Rules #### */
/* Container Rules */
.wrapper {
    position: relative;
    height: 100vh;
}

.container {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--clear-color);
}


/* Navbar Rules */
.navbar {
    padding: 0;
    align-items: center;
    width: 100%;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
    padding: .7rem 0 .7rem 0;
}
  
.navbar a {
    color: var(--clear-color);
}

.logo:hover {
    cursor: default;
}


/* Cart Counter Rules */
.counter {
    background: var(--notification-color);
    padding: .1rem .4rem;
    font-size: .6rem;
    font-weight: bold;
    right: 2px;
    top: -10px;
}


/* Alert Notifications Rules*/
.alert {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: .8rem;
}
.alert-danger {
    color: var(--notification-color);
}

  
/* Landing Rules */
.landing {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2rem 0;
    border: none;
    background-color: whitesmoke;
}


/* Buttons Rules */
button:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: .5rem;
    font-size: .7rem;
    border-radius: 2px;
    transition: opacity 0.2s ease-in;
    outline: none;
    border: none;
}

.btn-back {
    color: var(--clear-color);
}

.btn-primary {
    color: var(--clear-color);
    background: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
  
.btn-light {
    background: var(--clear-color);
}
  
.btn-dim {
    color: var(--secondary-color);
    background: #7272722a;
}
  
.btn-default {
    margin: 1rem 0 0 0;
    color: var(--clear-color);
    display: block;
    background: var(--primary-color);
    float: right;
}

.btn-default-dim {
    margin: 1rem 0 0 0;
    color: var(--secondary-color);
    display: block;
    background: #7272722a;
    float: right;
}

.btn-checkout {
    background: var(--primary-color);
    color: var(--clear-color);
}

.btn-go-back {
    margin: 2rem 0;
    color: var(--clear-color);
    background: #537895;
}


/* Not Found Page Rules */
.not-found {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    width: 40%;
    color: #727272;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5rem 0 0 0;
}

.not-found i {
    color: #537895;
}

.not-found h1 {
    margin: 1rem 0 0 0;
    font-weight: bold;
}

.not-found a {
    background: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    margin: 2rem 0 0 0;
}


/* Spinner Rules */
.spinner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner span {
    color: inherit;
    animation: blink-up 1s infinite;
    font-size: 1rem;
}

.spinner i {
    color: #537895;
}
  
@keyframes blink-up {
    from, to { color: rgb(120, 120, 120); }
    10% { color: rgb(130, 130, 130); }
    20% { color: rgb(140, 140, 140); }
    30% { color: rgb(150, 150, 150); }
    40% { color: rgb(160, 160, 160); }
    50% { color: rgb(170, 170, 170); }
    60% { color: rgb(180, 180, 180); }
    70% { color: rgb(190, 190, 190); }
    80% { color: rgb(200, 200, 200); }
    90% { color: rgb(115, 115, 115); }
}


/* Sort Rules */
.sort {
    display: flex;
    margin: 0 0 1.5rem 0;
    justify-content: space-between;
}
.sort label {
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
}
.sortby {
    width: 150px;
    margin: 0 0 0 1rem;
}


/* Products Rules */
.products {
    margin: 0;
    padding: 0;
}

.products-slices {
    display: flex;
    position: relative;
}
.product {
    display: flex;
    margin: 0 0 2rem 0;
    height: 225px;
    padding: 1rem;
    background: var(--clear-color);
    border: 1px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product div:first-child {
    flex: 1;
    padding: 0 1rem 0 0;
}

.product div:last-child {
    flex: 3;
}

.product img {
    max-width: 200px;
    height: 120px;
}

.name {
    font-size: 1rem;
    font-weight: bold;
}

.category {
    font-size: .8rem;
    color: #727272;
}
.desc {
    font-size: .8rem;
    margin: 0 0 .2rem 0;
    padding: .2rem 0 .7rem 0;
    height: 85px;
    overflow: hidden;
}
.price {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.slice-1 {
    margin: 0 2rem 0 0;
}

.slice-1, .slice-2 {
    flex: 1;
    padding: 0;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}


/* Pages Rules */
.pages {
    position: relative;
    text-align: center;
    color: var(--primary-color);
}

.pages span {
    padding: .6rem;
    margin: 0;
    font-size: .8rem;
    background: var(--clear-color);
}

.pages span:hover {
    color: var(--clear-color);
    font-weight: bolder;
    cursor: pointer;
    background: #7272722a;
}

.active-page {
    color: var(--secondary-color);
    font-weight: bolder;
    cursor: pointer;
}


/* Cart Rules */
.cart {
    background: whitesmoke;
}

.cart header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.cart-product {
    display: flex;
    background: var(--clear-color);
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.cart-product img {
    align-self: auto;
    margin: 0 2rem 0 0;
    width: 10%;
    height: auto;
}

.cart-product .name-category {
    flex: 4;  
    width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-emphasis: wrap;
    white-space: nowrap;
    align-self: center;
}

.cart-product .unit-price {
    flex: 1;
    text-align: center;
    align-self: center;
}

.cart-product .quantity {
    flex: 1;
    text-align: center;
    align-self: center;
}

.cart-product .price {
    flex: 1;
    text-align: center;
    align-self: center;
}

.cart-product .btn-remove {
    flex: .5;
    text-align: center;
    align-self: center;
}

.cart-products a:visited {
    color: #537895;
}

.number-select {
    width: 75px;
    margin: .5rem 0 0 2rem;
}

.footer-checkout {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.subtotal {
    font-weight: bolder;
}

.clear-cart {
    margin: 0 0 5rem 0;
}

.cart-empty-message {
    margin: 1rem 0 0 0;
    color: #727272;
}

.trash {
    color: #537895;
}

.trash:hover {
    color: var(--notification-color);
}


/* Page Notification Rules */
.notification {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notification i {
    color: #537895;
}


/* Chekout Style */
.checkout {
    position: relative;
    background: whitesmoke;
    margin: 2rem 0 0 0;
}

.checkout-order {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chekout-empty {
    background: whitesmoke;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.chekout-empty i {
    color: #537895;
    margin: 0 0 .5rem 0;
}

.checkout-finish {
    float: right;
}

.checkout-finish .checkout-subtotal {
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem;
}

.checkout-finish button {
    margin: 0 0 5rem 0;
    float: right;
}

.checkout-empty-message {
    margin: 1rem 0 0 0;
    color: #727272;
}

.customer-info, .table-order {
    background: var(--clear-color);
}

.customer-info {
    flex: 1.2;
    margin: 0 3rem 0 0;
    padding: 2rem;
    border: 1px solid var(--clear-color);
    border-radius: 2px;
    height: 100%;
}

.order-summary {
    flex: 2;
    padding: 2rem 2rem 1rem 2rem;
    border: 1px solid var(--clear-color);
    border-radius: 2px;
    background: var(--clear-color);
}

.lookup-again:hover {
    cursor: pointer;
}


/* Order Table */
table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #7272722a;
    color: var(--secondary-color);
}
  
table tbody {
    background: white;
}

table tr:nth-child(even) {
    background-color: #53789515;
    color: var(--primary-color);
}

th {
    width: 100%;
    text-align: left;
    padding: 1rem;
    color: var(--primary-color);
    background: whitesmoke;
    font-weight: 450;
    font-size: .8rem;
}

tr {
    border: 1px solid #7272722a;
}

td {
    position: relative;
    padding: 1.5rem;
    word-wrap: break-word;
}


/* Form Styles */
form .form-group {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1rem 0;
}
  
form label {
    font-weight: .7rem;
    color: #888;
    font-size: .9rem;
}
  
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="text"],
form input[type="tel"],
form textarea,
.old-user-form input[type="email"] {
    padding: .5rem;
    border-radius: 4px;
    outline: none !important;
    border: 1px solid #72727263;
    width: 219px;
    float: right;
}
  
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="text"]:focus,
.old-user-form input[type="email"]:focus {
    box-shadow: 0 0 5px #537895;
}

.old-user-form input[type="email"] {
    float: right;
}

.old-user-form label {
    font-size: .9rem;
    color: #888;
}

/* Thanks Page Rules */
.thanks {
    background: whitesmoke;
    color: var(--primary-color);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
}

.thanks-title {
    margin: 2rem 0 2rem 0;
}

.thanks-on-reload {
    color: #727272;
    margin: 1rem 0 0 0;
}