/* ## Mini Custom CSS Libray for Fast Shopping App  ## */
/* General Rules */
:root {
    --primary-color: #000000;
    --secondary-color: #696969;
    --clear-color: #ffffff;
    --muted-color: #737373;
    --notification-color: #c80815;
    --success-color: #036d03;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Snickles;
    src: url(./assets/fonts/Snickles.woff);
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--primary-color);
    background-color: whitesmoke;
}
  
a {
    text-decoration: none;
}
  
h1 {
    font-size: 1.2rem;
}
  
ul {
    list-style: none;
}

.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

.break {
    margin: 0 0 .5rem 0;
}
  
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
  
.clear {
    clear: both;
}
  
.heart {
    color: var(--notification-color);
    font-size: .7rem;
}

.rounded-circle {
    border-radius: 100%;
}
  
/* Text Rules */
.x-large {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
  
.large {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
  
.lead {
    font-size: 1.7rem;
    margin: 0 0 0 .5rem;
    font-family: Snickles;
}
  
.medium {
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
  
.small {
    font-size: .9rem;
}
  
.word-wrap {
    word-wrap: break-word;
}
  
.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    text-emphasis: wrap;
    white-space: nowrap;
}
  
.text-center {
    text-align: center;
}
  
.text-primary {
    color: var(--primary-color);
}
  
.text-dark {
    color: var(--primary-color);
}
  
.text-white {
    color: var(--clear-color);
}
  
.text-dim {
    color: var(--secondary-color);
    opacity: 0.7;
}
  
.text-light-dim {
    color: var(--muted-color)
}

.text-emphasize {
    color: #537895;
}

.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}

.font-bold {
    font-weight: 500;
}

.light-color {
    color: var(--clear-color);
}
  
/* Font Size Rules */
.fs-x {
    font-size: .7rem;
}
.fs {
    font-size: .9rem;
}
.fs-1 {
    font-size: 1rem;
}
.fs-2 {
    font-size: 2rem;
}
  
/* Padding Rules */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.pxy {
    padding: .5rem .8rem;
}
  
/* Margin Rules */
.m {
    margin: 0.5rem;
}
.mx-1 {
    margin: 0 1rem 0 0;
}
.mx-2 {
    margin: 0 0 0 1rem;
}
.my {
    margin: 0 0 1rem 0;
}
.my-1 {
    margin: 1rem 0;
}

.muted {
    color: #737373;
    font-size: .8rem;
}

/* Footer Rules */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: .5rem 3rem .4rem .5rem;
}